/* LG breakpoints */
@media screen and (max-width: 1200px){
    .services .container-fluid{
        gap:20px;
    }
    .sbox i{
        font-size: 80px;
    }
    .sbox h3{
        font-size: 18px;
        text-align: center;
    }
    .sbox p{
        font-size: 15px;
    }
}


/* SM breakpoints */
@media screen and (max-width:576px) { 
    .hero-page div div h1{
        font-size : 50px;
    }
    .hero-page div div p{
        max-width: 80%;
        font-size: 16px;
    }
    .hero-page button{
        margin-top: 30px;
        width: 150px;
        height: 40px;
        font-size: 14px;
    }

    .about div div h2{
        font-size: 25px;
    }
    .about div p{
        font-size: 14px;
    }

}

@media screen and (max-width:425px){
    .hero-page div div h1{
        font-size : 35px;
    }
    .hero-page div div p{
        /* max-width: 80%; */
        font-size: 14px;
    }
}