@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body{
    scroll-behavior: smooth;
}
.hero-page{
    background-color:#333;
    background-image: url(./images/background.jfif);
    background-size: cover;
    background-blend-mode: overlay;
    overflow: hidden;
}
.hero-page h1{
    font-size: 72px;
    letter-spacing: 3px;
}
.hero-page p{
    font-size: 18px;
    color: #bdbdbd;
    line-height: 30px;
    margin:0;
}
.hero-page button{
    margin-top: 30px;
    width: 200px;
    height: 50px;
    outline: 0;
    border:0;
    border-radius: 3px;
    background:#FF8F73;
    color: #fff;
}

.about{
    overflow: hidden;
    max-width: 1440px;
}
.about div div h2{
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
}
.about div p{
    margin-bottom: 10px;
    max-width: 670px;
    color: #606060;
    letter-spacing: .015em;
    line-height: 30px;
}
.about div p span{
    color:#FF8F73;
    font-weight: 600;
}

.services{
    background-color: #fafafa;
    overflow: hidden;
}
.services div div.container-fluid{
    max-width: 1440px;
}
.sbox{
    height: 260px;
    /* width: 350px; */ */
    padding: 5px;
    /* border: 1px solid #adadad; */
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background .3s linear;
}
.sbox:hover{
    background-color: #fff;
    box-shadow: 1px 1px 1px #ebebeb;
}
.sbox i{
    font-size: 100px;
    color: #FF8F73;
}
.sbox h3{
    font-size: 20px;
}
.sbox p{
    text-align: center;
    font-size: 16px;
    color: #666;
    max-width: 350px;
}

.contact{
    background-color: #323232;
}
.contact div.container .row{
    max-width: 500px;
}

#submit{
    background-color: #FF8F73;
    color:#fff;
}
.contact .col p{
    font-size: 16px;
    color: #fafafa;
}